.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
}

.picture {
  padding: 100px 0;

  font-weight: bold;
}

.title {
  margin-bottom: 10px;

  font-size: 40px;
}

.text {
  display: flex;

  font-size: 20px;
  font-style: italic;
}
