.spanBlock {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 28px;
}

.span {
    color: #0080FF;

}

.input {
    width: 276px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: black;
}

.pen {
}