.header{
    display: flex;
    align-items: center;

    height: 65px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.userData{
    display: flex;
    align-items: center;
}
.name{
    padding-right: 10px;

    color: grey;
}