.button {
  width: 140px;
  height: 30px;
  padding: 5px 24px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;

  background: #0066cc;
  border: none;
  border-radius: 3px;
}

.disabled {
  color: gray;

  background: #6f8fb2;
}

.secondary {
  width: 170px;

  color: #0066cc;

  background: #ffffff;
  border: 2px solid #0059b3;
}

.default {
  outline: none;
}

.red {
  background: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
