.input:focus {
  border: 2px solid #9b9a9a;
  outline: none;
}
.input {
  width: 372px;
  height: 36px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.inputWrapper {
  margin: 25px;
}

.superInput {
}

.errorInput {
  margin: 10px;

  background-color: hotpink;
}

.errorInput:focus {
}

.error {
  height: 21px;
  margin-left: 10px;

  color: #cc0000;
}
