.input:focus {
  border: black solid 2px;
  outline: none;
}
.input {
  width: 372px;
  height: 36px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  margin: 10px;

  background-color: hotpink;
}

.errorInput:focus {
}

.error {
  height: 21px;
  margin-left: 10px;

  color: #cc0000;
}
